/*Tags*/
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: pink;
}
ul {
    list-style: none;
}

/*Classes*/

/*Upper*/
.upper {
    flex: auto;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.header {
    display: flex;
    justify-content: space-between;
}
.tabs {
    display: flex;
}

.front {
    padding: 60px 0 80px 0;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}

.intro-p,
.intro-h {
    max-width: 400px;
}
.sign-up {
    padding: 0;
    border: none;
    background: none;
    background-color: green;
    border-radius: 7.5px;
    padding: 5px 20px;
}

.placeholder {
    height: 200px;
    width: 500px;
    background-color: gray;
    border-radius: 20px;
}

/*Random Information*/
.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.information-title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.illustration {
    width: 200px;
    height: 200px;
    border: solid cyan;
    border-radius: 20px;
    background-color: blue;
}
.subtext {
    max-width: 200px;
}

/*Quote*/
.quote-section {
    background-color: purple;
}

.quote,
.quote-author {
    padding: 0 400px;
    margin: 0;
}

.quote {
    font-size: 32px;
    max-width: 800px;
}
.quote-author {
    text-align: right;
}

/*Call to Action*/
.call-to-action{
    margin: 50px 40px;
    background-color:blueviolet;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Footer*/
.footer {
    background-color: orchid;
}
.footer-text {
    text-align: center;
}